<div class="center">
  <h1>Admin Panel</h1>
<%= link_to "Create New Flight", newflight_path, class:"btn btn-outline-info" %>
<%= link_to "Display All Flights", showflight_path, class:"btn btn-outline-success" %>
<%= link_to "Add an Airplane", newairplane_path, class:"btn btn-outline-secondary" %>
<%= link_to "Existing Airplanes", airplanesshow_path, class:"btn btn-outline-primary"%>
<%= link_to "Create New Seat Configuration", newseatconfig_path, class:"btn btn-outline-dark" %>
<%= link_to "Existing Seat Configurations", showsconfig_path, class:"btn btn-outline-warning"%>
<br>
<br>
<br>
<%=render 'stats'%>
</div>
