

<div class="col-sm-6">
  <div class="fdetails">
    <br>
  <h5> Name:</h5>
  <h5>
<%= phlight.name %>
</h5>
<br>
  <h5> Origin:</h5>
  <h5>
<%= phlight.origin %>
</h5>
<br>
  <h5> Destination:</h5>
  <h5>
<%= phlight.destination %>
</h5>
<br>
<h5> Date:</h5>
<h5>
<%= phlight.fdate %>
</h5>
<br>
<h5> Time:</h5>
<h5>
<%= phlight.ftime.strftime("%I:%M")%>
</h5>
<br>
<h5> Airplane:</h5>
<%if !phlight.airplane_id.nil?%>
<%@airplane=Airplane.find(phlight.airplane_id)%>
<%@scon=Seatconfig.find(@airplane.seatconfig_id) %>
<h5>
<%=@airplane.name %>
</h5>
<%else%>
<%= link_to "Add Airplane", addairplane_path(:phlight_id=> phlight.id), class:"btn btn-outline-success"%>
<%end%>
<br>
</div>
<br>

<br>

<%if !phlight.airplane_id.nil?%>
<%=render @scon.seatcats.order(:id)%>
<%end%>

<br>
</div>
