<h1 class="center">Create A New Flight</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
<%= form_for(@phlight, url: newflight_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :origin %>
<%= f.text_field :origin, class: 'form-control' %>

<%= f.label :destination %>
<%= f.text_field :destination, class: 'form-control' %>

<%= f.label :date%>
<%= f.date_field :fdate, class: 'form-control' %>

<%= f.label :time%>
<%= f.time_field :ftime, class: 'form-control' %>
<br>
<div class="center">
<%= f.submit "Create Flight", class: "btn btn-outline-info btn-lg" %>
</div>
<% end %>
</div>
</div>
