<%@del=Booking.where(confirm: false)%>
<%@del.each do |d|%>
  <%d.tempseats.destroy_all%>
<%end%>
<%@del.destroy_all%>
<%@left=Booking.where(confirm: true)%>
<%@left.each do |l|%>
  <%if l.tempseats.count==0%>
    <%@left.destroy(l.id)%>
  <%end%>
<%end%>
<h1><%=current_user.name %>
</h1>
<%if current_user.admin?%>
<%= link_to "Admin Panel", admins_path, class:"btn btn-outline-primary btn-lg"%>
<%end%>
<br>
<br>
<br>
<h3>Search for Flights</h3>
<%  @search=Search.new%>
<%= form_for(@search, url: search_path) do |f| %>

<%= f.label :origin %>
<%= f.text_field :origin, class: 'form-control' %>

<%= f.label :destination %>
<%= f.text_field :destination, class: 'form-control' %>

<%= f.submit "Search", class: "btn btn-outline-warning btn-lg", method: :post %>
<% end %>

<BR>
  <br>

<h2>Your Bookings</h2>
<h3>Total Bookings:</h3>
<%=Booking.where(user_id: current_user.id).count%>

<%if Booking.where(user_id: current_user.id).count>0 %>
<div class="row">
<%=render Booking.where(user_id: current_user.id).order(:id)%>
</div>
<%else%>
<h3>Ready to Fly? Book a Seat!</h3>
<%end%>
