<div class="sidebar">
  <div class="center">
    <br>
    <br>

  <h2><%=current_user.name.upcase %>
  </h2>

  <br>
  <br>
  <br>
  <br>
    <br>
    <br>
  <%if current_user.admin?%>
  <%= link_to "Admin Panel", admins_path, class:"btn btn-outline-info"%>
  <%end%>
  <br>
  <br>
  <%= link_to "Home", root_path, class:"btn btn-outline-success"%>

<br>
<br>
  <h5>Total Bookings:</h5>
  <%user_bookings=Booking.where(user_id: current_user.id)%>
  <%=user_bookings.count%>
<br>


  <div class="row bottom">
    <div class="col-sm-4">
      <%= link_to 'Log out', destroy_user_session_path, class:"sidelink" %>
      </div>
      <div class="col-sm-4">
        <%= link_to "Home", root_path, class:"sidelink"%>
        </div>
        <div class="col-sm-4">
          <%= link_to 'Profile', edit_user_registration_path, class:"sidelink" %>
          </div>
    </div>
  </div>
</div>
